{{> header}}

<div class="row event-details">
    <div class="col-md-12 text-center overflow-hidden">

        <img class="details-img"
            src="{{event.imageURL}}" />
        <div class="my-3 p-3">
            <h2 class="display-5">{{event.name}}</h2>
            <p class="infoType">Description:</p>
            <p class="event-description">{{event.description}}</p>
            <p class="infoType">Date: <small>{{event.dateTime}}</small></p>
            <p class="infoType">Peope interested in: <small>{{event.peopleInterestedIn}}</small></p>
            <p class="infoType">Organizer: <small>{{event.organizer}}</small></p>
        </div>
        {{#if event.isCreator}}
        <a href="/edit/{{event._id}}" class="btn btn-primary btn-lg">Edit the event</a>
        <a href="/delete/{{event._id}}" class="btn btn-danger btn-lg">Close the event</a>
        {{else}}
        <a href="/join/{{event._id}}" class="btn btn-info btn-lg">Join the event</a>
        {{/if}}
    </div>
</div>

{{> footer}}